<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Welcome @User.Identity.Name</span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li>
                            <form method="post" asp-controller="account" asp-action="logout">
                                <button type="submit" class="btn btn-outline btn-link fa fa-sign-out">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Index")">
                <a href="@Url.Action("Main", "Home")"><i class="fa fa-home"></i> <span class="nav-label">Home</span> <span class="label label-primary float-right">Home</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Admin")">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.forms">User Management</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Admin", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Admin")">Create User</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Role")">Manage Role</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Book")">
                <a href="#"><i class="fa fa-book"></i> <span class="nav-label" data-i18n="nav.forms">Book</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Book", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Book")">Book Management</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "RentBook")">Rent Book</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "RentReport")">Rent Report</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>